doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // optimize google font resource
    link(rel="preconnect" href="https://fonts.gstatic.com/" crossorigin)
    each css in htmlWebpackPlugin.files.css
      link(href=`${css}` as="style" rel="preload")
    each css in htmlWebpackPlugin.files.css
      link(href=`${css}` rel="stylesheet")      
  body(data-theme="dark")
    #app

    each js in htmlWebpackPlugin.files.js
      script(src=`${js}` defer)