:root
  --color-default-button-background #ffffff
  --color-default-button-border #9e9e9e
  --color-default-button-text #000000

.button
  display flex
  margin 0 auto
  padding 0.45rem
  border-style solid
  border-color var(--color-default-button-border)
  border-radius 0.3rem
  background var(--color-default-button-background)
  color var(--color-default-button-text)
  font-weight bold
  font-size 1rem
  line-height 1rem
  cursor pointer

  &--small
    font-size 0.75rem

  &--large
    font-size 1.45rem