.icon
  display inline-block
  margin-right 0.5em

.icon-svg
  display inline-block
  margin-right 0.5em
  width 16px
  height 16px
  vertical-align middle
  fill currentColor

  &--medium
    width 24px
    height 24px

  &--large
    width 32px
    height 32px

  &--super
    width 48px
    height 48px
