:root
  --color-primary #4db6ac
  --color-primary-dark #00867d
  --color-primary-light #82e9de
  --color-accent #f06292
  --color-accent-dark #ba2d65
  --color-accent-light #ff94c2
  --color-window-background #ffffff
  --color-main-text #000000
  --color-image-placeholder #9e9e9e