/* Golbal settings */
:root
  --root-font-size 16px
  --root-desktop-width 1024px

@media screen and (max-width: 1024px)
  :root
    --root-desktop-width 850px

@media screen and (max-width: 768px)
  :root
    --root-desktop-width 100%